
body
{
    display: flex;
    align-items: flex-start;
    place-items: start;
    background-color: rgb(118, 226, 230);
    
     /* background-color: #27282c; */
    /* margin: 0; */
    /* min-height: 100vh;
    min-width: 320px; */
    justify-content: center;
}
.Heading
{
    text-align: center;
    font-weight: bolder;
    color: #000000;
    font-size: 50px;
    /* background-color: rgb(115, 114, 196); */
    font-family: Arial, Helvetica, sans-serif;
}
.Button2 {
    margin: 10px;
    size: 50px; /* This property doesn't exist in CSS, you might want to remove it */
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    background-color: #fff; /* Set initial background color to white */
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

.Button2:hover {
    letter-spacing: 0.25em;
    background: #fff; /* Set background color to white on hover */
    color: #000; /* Set text color on hover */
    box-shadow: 0 0 35px var(--clr); /* Add a box shadow on hover */
}

/* .Button2::before
{
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
} */
.Buttonalign
{
    justify-content: center;
    display: flex;
    margin: 25px;
}
 

.link {
    --clr: #1e9bff;
  }
  
  .link:hover {
    color: var(--clr);
    background: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    color:#000;
  }